<p style="color: green"><%= notice %></p>

<% content_for :title, "La boîte à #{@person.name}" %>

<div class="flex h-dvh v-screen">
  <div class="flex-1">
    <h1>La boîte à <%= @person.name %><h1>
    <%= render @person %>
  </div>

  <div class="flex-2">
    <%= render "people/quotes", person: @person %>
  </div>
</div>
  